* {
    border: solid 1px red;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.logo img {
    width: 100px;
    height: auto;
    
}

a {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    gap: 16px;
    padding: 16px;
    font-weight: bold;
}